<!DOCTYPE html>
<html {{ site.language_attributes }}>
	<head>
		{% block head %}{% endblock %}

		<meta name="facebook-domain-verification" content="d3zvs11nsp0pao1c4k6o2gnfqgej1p"/>
		<meta charset="{{ site.charset }}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="" type="image/gif" sizes="512x512">
		{{ wp_head }}

	</head>

	<body class="{{ body_class }}">

		{% block navigation %}
			{% include 'header/menu.twig' %}
		{% endblock %}

		<main>
			{% block container %}{% endblock %}
		</main>

		{% block footer %}
			{% include 'footer/footer.twig' %}
		{% endblock %}
		{{ wp_footer }}
	</body>
</html>
